* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.navbar {
    display: flex;
    padding: 3px;
    background-color: #ffffff;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    padding: 5px 0 0 50px;
}

.logo img {
    width: 70%;
}



@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 90px;
        left: 0;
        background-color: #DD9F3A;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-img {
        margin-left: 20px;
        display: block;
        cursor: pointer;
    }
}

/* <------ First-Section ------> */

#first-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh; 
    background-color: #ffffff;
    padding: 2rem;
    box-sizing: border-box; 
}

.image-family-wrapper {
    max-width: 37rem;
    margin: 3rem auto; 
    flex-basis: 100%; 
    overflow: hidden; 
    position: relative; 
}

.image-family-slider {
    display: flex;
    aspect-ratio: 17 / 12;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.image-family-slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.image-family-slider-nav {
    display: flex;
    column-gap: 1rem;
    position: relative;
    bottom: 1.25rem;
    left: 95%;
    transform: translateX(-50%);
    z-index: 1;
}

.image-family-slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.image-family-slider-nav:hover {
    opacity: 1;
}

/* <------ Slogan-Container ------> */

.slogan-container {
    max-width: 37rem;
    margin: 7rem auto 1rem; 
    text-align: center;
}


.slogan-container h3 {
    font-size: 400%;
    color: #DD9F3A;
    margin-top: 0; 
}

.slogan-container p {
    margin-top: 1rem;
}


.button {
    width: 15rem;
    text-decoration: none;
    color: #ffffff;
    padding: 1rem 4rem;
    background-color: #DD9F3A;
    border-radius: 50px;
    display: inline-block; 
}

/* <------ second-Section ------> */

#second-section {
    width: 100%;
    background-color: #DD9f3A;
    padding: 2rem 2rem 10rem; 
}

.services-menu {
    text-align: center; 
    margin-bottom: 2rem; 
}

.services-menu h1 {
    text-align: center;
    font-size: 400%;
}

.mbps-menu {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 0 auto; 
    max-width: 1200px;
}

.first-mbps-menu,
.second-mbps-menu,
.third-mbps-menu {
    flex-basis: calc(33.33% - 2rem); 
    padding: 1rem 1rem 5rem 2rem;
    border-radius: 12px;
    margin: 1rem; 
    background-color: #fff;
}

.first-mbps-menu .unli-plan-price,
.second-mbps-menu .unli-plan-price,
.third-mbps-menu .unli-plan-price {
    position: relative;
    border: 2px solid #DD9F3A;
    border-radius: 8px;
    margin: 0.05rem 5rem 1rem 0;
    width: 15rem;
    text-align: center;
    padding: 3px;
}
.first-mbps-menu .landline-container,
.second-mbps-menu .landline-container,
.third-mbps-menu .landline-container {
    position: relative;
    border: 2px solid #B0A695;
    background-color: #B0A695;
    border-radius: 12px;
    padding: 0 3rem 1rem 1rem;
    width: 10rem;
    margin: 1rem 0 1rem 0;
}
.first-mbps-menu .landline-container p,
.second-mbps-menu .landline-container p,
.third-mbps-menu .landline-container p {
    width: 9rem;
    font-size: 80%;
    color: white;
}
.first-mbps-menu .landline-container img,
.second-mbps-menu .landline-container img,
.third-mbps-menu .landline-container img {
    position: relative;
    width: 50%;
    margin-top: 1rem;
    padding-bottom: 0.3rem;
}
.first-mbps-menu .plan-description,
.second-mbps-menu .plan-description,
.third-mbps-menu .plan-description {
    font-size: 80%;
}
.first-mbps-menu .apply-btn,
.second-mbps-menu .apply-btn,
.third-mbps-menu .apply-btn {
    position: absolute;
    margin: 1rem 0 1rem 7rem;
    width: 6rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    background-color: #DD9F3A;
    border-radius: 18px;
    text-align: center;
}




/* <------ third-Section ------> */

#third-section {
    width: 100%;
    background-color: #ffffff;
    padding: 2rem 2rem 0rem 0; 
}
.about-heading {
    text-align: center; 
    margin-bottom: 2rem; 
}

.about-heading h1 {
    text-align: center;
    font-size: 300%;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin: 0 auto; 
    max-width: 1200px;
    position: relative;
}

.about {
    flex-basis: calc(50% - 2rem); 
    padding: 1rem 1rem 5rem 2rem;
    border-radius: 12px;
    margin: 1rem; 
    background-color: #fff;
}

.about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.about h1 {
    text-align: left;
    font-size: 350%;
}

.about p {
    text-align: left;
}

.about-description p {
    text-align: center;
    margin-top: 3rem;
}

.about-description img {
    width: 30rem;
    height: auto;
    margin-bottom: 10rem;
}

/* <------ fourth-Section ------> */

#fourth-section {
    width: 100%;
    background-color: #DD9f3A;
    padding-top: 100px; 
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#fourth-section .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
    cursor: pointer;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: 0.5s;
    
}

#fourth-section .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #fff;
}

.col-3 p {
    font-size: 15px;
    margin: 12px 0;
    color: #fff;
}

#fourth-section .col-3 h3 {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin-top: 1rem;
}

#fourth-section .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 10%;
    width: 100%;
}

/* <------ Footer ------> */

.footer {
    /* width: 100%;
    height: 50vh; */
    background-color: #141414;
    padding: 60px 40px 20px 30px;
    font-size: 14px;
    color: #fff;
    /* padding: 2rem 2rem 0rem 0; */
}

.footer p {
    color: #8a8a8a;

}

.footer h3 {
    color: #fff;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
    border-radius: 12px;
}
.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 a {
    text-decoration: none;
    color: #8a8a8a;
}


/* <-------------------- Second-Page --------------------> */


/* <------ FAQs-Section ------> */

#faqs {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 2rem 2rem 0rem 0; 
}

/* <------ Apply-Section ------> */

#apply {
    width: 100%;
    height: 100vh;
    background-color: #DD9F3A;
    padding: 2rem 2rem 0rem 0; 
}


@media screen and (max-width: 414px) {

    /* <------ Nav-Bar ------> */
    .logo img {
        width: 70%;
    }


    /* <------ First Section ------> */

    #first-section {
        height: 130vh;
    }

    .image-family-wrapper {
        width: 90%;
        position: absolute;
        margin: 36rem 23.3rem 0 -0.5rem;
    }

    .slogan-container {
        margin: 3rem 1rem;
    }

    .button {
        margin-left: 6rem;
        padding: 1rem 4rem ;
    }

    /* <------ Second-Section ------> */

    #second-section {
        height: 250vh;
    }

    .mbps-menu {
        margin-left: -2rem;
    }
    
    .first-mbps-menu,
    .second-mbps-menu,
    .third-mbps-menu {
        margin: 3.5rem 60rem 0 1rem;
    }

    .services-menu h1 {
        font-size: 300%;
    }


    /* <------ Third-Section ------> */
    .about-description img {
        width: 25rem;
        height: auto;
        margin-top: -7rem;
        margin-bottom: 5rem;
    }
}